.actionsWidgetModal {
  margin-top: -15px;

  &__label {
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 255px;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    width: 100%;
  }

  &__field {
    margin-bottom: 15px;
  }

  &__sectionTitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__footer {
    border-top: 1px solid $colour-s14;
    bottom: 0;
    left: 0;
    padding: 30px;
    position: absolute;
    text-align: right;
    width: 100%;
  }

  .dropdown,
  .dropdownWrapper,
  .groupedDropdown {
    width: 300px;
  }

  .rc-tabs-tabpane {
    overflow: visible;
  }

  &__hideColumnSection {
    display: inline-grid;
    grid-gap: 16px;
    grid-template-columns: auto auto;

    .actionsWidgetModal__radioBtnLabel {
      align-items: center;
      display: flex;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
