// AthleteInjury Editor
@import './athleteIssueEditor/src/style';
@import './athleteIssueEditor/src/components/AthleteAvailabilityHistory/style';
@import './athleteIssueEditor/src/components/Notes/style';

// Athlete Injury Details
@import './athleteIssueDetails/src/style';
@import './athleteIssueDetails/src/components/AthleteAvailabilityHistoryDetails/style';
@import './athleteIssueDetails/src/components/AthleteMedications/style';
