.manage-athletes {
  &__header {
    align-items: baseline;
    background: $colour-p06;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    padding-bottom: 0;

    .textButton__text {
      font-weight: normal;
    }

    h1 {
      color: $colour-grey-300;
      font-size: 24px;
    }
  }

  &__subheader {
    background-color: $colour-p06;
    border-bottom: solid 2px $colour-neutral-300;
    padding: 24px;
    padding-top: 0;
  }

  &__nameColumn {
    align-items: center;
    display: flex;
  }

  &__avatar {
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }

  &__searchInput {
    display: initial;
    position: relative;

    input {
      background-color: $colour-neutral-200;
      border: 0;
      border-radius: 3px;
      font-size: 14px;
      line-height: 24px;
      padding: 4px 36px 4px 8px;
      width: 240px;
    }

    i {
      font-size: 24px;
      position: absolute;
      right: 4px;
      top: 0;
    }
  }

  &__athleteTable {
    background-color: $colour-p06;
    border-radius: 3px;
    box-shadow: $section-shadow;
    margin: 24px;
    padding-bottom: 16px;
    padding-top: 24px;

    .dataGrid {
      min-height: auto;
      overflow: hidden;

      &__body {
        .dataGrid__cell {
          padding-bottom: 6px;
          padding-top: 6px;
        }
      }

      &__cell {
        width: auto !important;

        &:first-child {
          padding-left: 24px;
        }
      }
    }
  }

  &__athleteTableEdit {
    color: $colour-grey-300;
  }

  &__athleteTableNoResults {
    color: $colour-grey-200;
    font-size: 16px;
    padding: 0 16px 24px;
    text-align: center;
  }

  &__athleteTableHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 24px;

    &__heading {
      color: $colour-grey-300;
      font-size: 20px;
    }
  }
}
