.headerWidgetModal {
  &__label {
    font-weight: 600;
  }

  &__name {
    margin-bottom: 15px;
    width: 250px;
  }

  &__nameInput {
    border: 1px solid $colour-p04;
    border-radius: 5px;
    color: $colour-s18;
    display: flex;
    height: 45px;
    padding-left: 11px;
    width: inherit;
  }

  &__populationAndColour {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__population {
    width: 250px;
  }

  &__optionalText {
    color: $colour-s16;
    float: right;
    margin-top: 5px;
  }

  &__backgroundColourType {
    width: 180px;
    margin-left: 30px;
  }

  &__backgroundColour {
    margin-left: 30px;
  }

  &__backgroundColourOptions {
    margin-left: 30px;
    display: flex;
    align-items: center;

    .colorPicker {
      border: 1px solid $colour-s15;
      border-radius: 0.25rem;

      &__swatchColor {
        border-radius: 0.2rem;
      }
    }
  }

  &__colourInput {
    border: 1px solid $colour-s15;
    border-radius: 5px;
    display: flex;
    height: 45px;
    width: 45px;
  }

  &__overlayCheckboxes,
  &__overlayRadioButtons {
    display: flex;
    flex-direction: column;
    width: fit-content;

    .reactCheckbox {
      margin-bottom: 10px;
    }

    &--logo {
      display: flex;
      width: 150px;
      justify-content: space-between;
    }

    &--organistaion_text {
      display: flex;
      width: 305px;
      justify-content: space-between;
    }
  }

  &__preview {
    margin-top: 20px;

    .headerWidget {
      border: 1px solid $colour-s14;
      border-radius: 5px;
      margin: 0;

      &__logo {
        margin: 10px 0 10px 15px;
      }

      &__dashboardName {
        font-size: 14px;
      }

      &__rightDetails {
        margin-right: 15px;
      }

      &__orgSquad {
        font-size: 14px;
        max-width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__footer {
    border-top: 1px solid $colour-s14;
    bottom: 0;
    left: 0;
    margin-top: 15px;
    padding: 30px;
    position: absolute;
    text-align: right;
    width: 100%;
  }
}
