.filterSection {
  &__addFilterButton {
    margin-top: 5px;
  }

  &__filters {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__removeFilterButton {
    position: absolute;
    right: -8px;
    top: 34px;
  }
}
