.athleteAvailabilityHistoryDetails {
  &__labelContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: flex-start;
    padding-bottom: 20px;

    span {
      &:first-child {
        display: block;
        width: 50px;
      }
    }
  }

  &__row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 20px;

    &:last-child {
      .athleteAvailabilityHistoryDetails__index:before {
        display: none;
      }
    }
  }

  &__index {
    border: 1px solid $colour-s14;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    height: 35px;
    padding-top: 6px;
    position: relative;
    text-align: center;
    width: 50px;

    &:before {
      background-color: $colour-s14;
      bottom: -20px;
      content: '';
      display: block;
      height: 20px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 1px;
    }
  }

  &__date {
    min-width: 148px;
    padding-left: 30px;
  }

  &__status {
    flex: 1;
    padding-left: 30px;
  }

  &__duration {
    padding-left: 30px;
  }

  &__total {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-bottom: 5px;
  }

  &__totalLabel {
    font-weight: 600;
    padding-right: 15px;
    text-align: right;

    &--first {
      padding-bottom: 5px;
      padding-top: 15px;
    }
  }

  &__totalValue {
    display: inline-block;
    text-align: right;

    &--first {
      border-top: 1px dashed $colour-s14;
      padding-bottom: 5px;
      padding-top: 15px;
    }
  }
}
