.dashboardHeader {
  height: 60px;
  transition: height 300ms ease-in;

  &--expanded {
    height: 175px;
  }

  &__secondaryActionsBtn {
    margin-top: 5px;

    button {
      float: right;
      margin-left: 10px;
    }
  }

  &__inner {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  &__dashboardSelectContainer {
    flex: 1;
    margin-right: 15px;
    max-width: 255px;
  }

  &__searchContainer {
    flex: 1;
    margin-left: 10px;
    margin-right: 15px;

    .dashboardHeader__searchContainerInner {
      max-width: 255px;
    }
  }
}
