.questionnaireManagerSidebar {
  background-color: $colour-p06;
  padding-top: 80px;
  position: absolute;
  width: 250px;
  z-index: 10;

  &__heading {
    align-items: flex-start;
    color: $colour-p03;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 600;
    height: 33px;
    justify-content: center;
  }

  &__athlete {
    align-items: center;
    background: $colour-s13;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: flex-start;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 15px;
    position: relative;

    &:last-child {
      margin-bottom: 8px;
    }

    &:nth-child(even) {
      background: $colour-s23;
    }
  }

  &__checkboxContainer {
    margin-right: 15px;
  }

  &__athleteName {
    flex: 1;
    font-size: 14px;
  }
}
