.dropdownWrapper {
  position: relative;

  &--invalid {
    .dropdownWrapper__header {
      border: 2px $colour-s11 solid;
    }
  }

  &--disabled {
    .dropdownWrapper__label {
      color: $colour-s18;
      opacity: 0.5;
    }

    .dropdownWrapper__header {
      cursor: default;
      opacity: 0.65;
    }
  }

  &__label {
    color: $colour-s18;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__header {
    background: $colour-p06 !important;
    border: 1px solid $colour-p04;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    position: relative;
    width: 100%;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  &__title {
    margin: 13px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
  }

  &__caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    position: absolute;
    right: 15px;
    top: 45%;
    vertical-align: middle;
    width: 0;
  }

  &__menu {
    border: 1px solid $colour-s15;
    border-bottom: 2px $colour-p01 solid;
    border-left: 2px $colour-p01 solid;
    border-right: 2px $colour-p01 solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    display: block;
    margin-top: -1px;
    max-height: 225px;
    min-width: auto;
    overflow: auto;
    padding: 0;
    width: 100%;

    .dropdownWrapper__search {
      background-color: $colour-p06;
      border-bottom: 1px dashed $colour-p04;
      cursor: text;
      padding: 4px 5px;
      position: -webkit-sticky; // safari
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .dropdownWrapper__actionButtons {
      align-items: flex-end;
      background-color: $colour-p06;
      border-top: 1px solid $colour-p04;
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: 60px;
      position: -webkit-sticky; // safari
      position: sticky;
      width: 100%;

      .textButton {
        height: 35px;
        margin: 10px 21px;
        padding: 0 20px;
      }
    }
  }

  &__optional {
    color: $colour-s16;
    float: right;
    font-size: 14px;
    margin-top: 4px;
  }

  &--open {
    .dropdownWrapper__header {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-left: 2px $colour-p01 solid;
      border-right: 2px $colour-p01 solid;
      border-top: 2px $colour-p01 solid;
    }

    .dropdownWrapper__caret {
      transform: rotate(180deg);
    }
  }

  &--noButton {
    .dropdownWrapper__menu {
      border: 0;
    }

    .dropdownWrapper__search {
      border: 0;
    }
  }
}
