.appStatus {
  display: none;

  &.isActive {
    display: block;
  }

  &.appStatus--success {
    .appStatus-cont {
      background-image: url('../img/circle_tick.svg');
      background-position: center 0;
      background-repeat: no-repeat;
      max-width: 223px;
      padding-top: 85px;
    }
  }

  &.appStatus--error {
    margin-top: 128px;
    .appStatus-cont {
      background-image: url('../img/circle_cross.svg');
      background-position: center 0;
      background-repeat: no-repeat;
      max-width: 223px;
      padding-top: 85px;

      button {
        display: block;
        margin: 18px auto 0;
      }

      a {
        color: $colour-p01;
        display: block;
        font-size: 14px;
        margin-top: 17px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &.appStatus--saving {
    .appStatus-cont {
      background-image: url('../img/spinner.svg');
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: 80px;
      margin-top: -14px;
      padding-top: 91px;
    }
  }

  &.appStatus--validationError,
  &.appStatus--confirm,
  &.appStatus--confirmWithTitle,
  &.appStatus--warning {
    .appStatus-cont {
      max-width: 467px;
    }

    .appStatus-btncont {
      display: flex;
      justify-content: center;
      padding-top: 10px;

      button {
        margin-left: 10px;
        margin-right: 10px;
        min-width: 120px;
      }
    }
  }

  &.appStatus--warning {
    .appStatus-btncont {
      button {
        min-width: 140px;
      }
    }
  }

  .appStatus-bg {
    background-color: $colour-p06;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }

  .appStatus-cont {
    border-radius: 5px;
    left: 50%;
    min-height: 83px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    z-index: 10000;
  }

  &--embed {
    padding: 100px;

    .appStatus-bg {
      display: none;
    }

    .appStatus-cont {
      position: relative;
      top: 65px;
      z-index: 9000;
    }
  }

  &__title {
    color: $colour-s18;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;

    &--warning {
      color: $colour-s11;
    }
  }

  &__header {
    font-size: 21px;
    margin-bottom: 45px;
  }

  &--message {
    .appStatus__title {
      font-weight: normal;
      margin-bottom: 30px;
    }

    .appStatus-cont {
      width: 490px;
    }

    .appStatus-bg {
      opacity: 0.95;
    }
  }

  &--confirmWithTitle {
    .appStatus-cont {
      max-width: 580px;
    }

    .appStatus__title {
      color: $colour-p01;
      font-size: 21px;
      font-weight: normal;
    }

    .appStatus__message {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
