.dashboardEditor {
  &__formContainer {
    float: left;
    padding: 0;
    width: 66.66%;
  }

  &__formHeader {
    align-items: center;
    border-bottom: 1px solid $colour-s14;
    display: flex;
    flex-direction: row;
    height: 57px;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__form {
    min-height: 310px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__formFooter {
    border-top: 1px dashed $colour-s14;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 25px 30px 0;
    width: 100%;
  }
}
