.planning {
  background-color: $colour-background;
  min-height: calc(100vh - 50px);
  padding: 24px;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $colour-grey-300;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  &__eventFilters {
    margin-top: 24px;
    position: relative;
    z-index: 2;
  }

  &__eventFiltersDropdown {
    display: inline-block;
    margin-right: 8px;
    width: 125px;

    &--daterange {
      position: relative;
      width: 235px;
    }
  }

  .planningEventsSchedule {
    margin-top: 16px;

    &__noEventText,
    &__loadingText {
      color: $colour-grey-300;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      margin-top: 24px;
      text-align: center;
    }

    .planningEventsSchedule__tableWrapper {
      border-right: 1px solid $colour-neutral-300;
      overflow: auto;
    }

    &__table {
      background-color: $colour-p06;
      border-bottom: 1px solid $colour-neutral-300;
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;

      tr {
        border-top: 1px solid $colour-neutral-300;
        height: 45px;
      }

      td {
        padding-left: 16px;
        white-space: nowrap;

        .planningEventsSchedule__eventTime {
          padding-left: 8px;
        }

        &.event-name-cell {
          div {
            margin-right: 5px;
          }
        }
      }

      th {
        border-left: 1px solid $colour-neutral-300;
        border-right: 1px solid $colour-neutral-300;
        border-top: 1px solid $colour-neutral-300;
        min-width: 160px;
        padding: 0;
        vertical-align: top;
        z-index: 1;
      }
    }

    &__row {
      &--first {
        border-bottom: 1px solid $colour-neutral-300;

        td {
          border-top: 1px solid $colour-neutral-300;
        }
      }

      &--today {
        background-color: transparentize($colour-blue-100, 0.9);
      }

      &--past {
        background-color: $colour-neutral-100;

        .planningEventsSchedule__eventName,
        .planningEventsSchedule__eventTime,
        .planningEventsSchedule__eventDuration,
        .planningEventsSchedule__eventCompetition,
        .planningEventsSchedule__eventMLSInfo,
        .planningEventsSchedule__eventGameDay {
          color: $colour-grey-100;
        }
      }
    }

    &__date {
      color: $colour-grey-100;
      font-size: 12px;
      font-weight: 600;
      height: 100%;
      line-height: 16px;
      padding: 16px;
      text-transform: uppercase;
      width: 100%;
    }

    &__dateEvents {
      padding: 8px 16px;
    }

    &__eventColour {
      display: inline-block;
      border-radius: 10px;
      height: 10px;
      width: 10px;
    }

    &__eventTime,
    &__eventDuration,
    &__eventCompetition,
    &__eventMLSInfo,
    &__eventGameDay {
      color: $colour-grey-300;
      font-size: 11px;
      font-weight: normal;
      line-height: 14px;
    }

    &__eventName {
      color: $colour-grey-300;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      min-width: 200px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-desktop) {
  .planning__eventFilters--mobile {
    display: none;
  }
}

@media only screen and (max-width: $breakpoint-desktop) {
  .planning__eventFilters--desktop {
    display: none;
  }

  .planning__eventFilters--mobile {
    display: flex;
    justify-content: space-between;

    .planning__eventFiltersPanel {
      padding-left: 25px;
      padding-right: 25px;

      .planning__eventFiltersDropdown {
        display: block;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  .planning {
    .planningEventsSchedule {
      &__table {
        th {
          min-width: 110px;
        }
      }
    }
  }
}
