.chartLegend {
  &--condensed {
    .chartLegend__label {
      font-size: 10px;
    }

    .chartLegend__item {
      font-size: 10px;
      line-height: 10px;
      margin-right: 15px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__item {
    color: $colour-p03;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &--disabled {
      color: $colour-s14;
    }
  }

  &__circle {
    border-radius: 50%;
    bottom: 1px;
    display: inline-block;
    height: 8px;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
    width: 8px;
  }

  &__dash {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    width: 14px;
  }
}
