.availableAthletes {
  margin-bottom: 2px;
  border: 1px solid $colour-blue-50;
  padding: 8px;
  color: $colour-grey-300;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__key {
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  &__key div {
    margin-left: 10px;
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
  }

  &__iconArrowUp {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid $colour-grey-300;
    margin-left: 7px;
  }

  &__iconCircle {
    width: 5px;
    height: 5px;
    background-color: $colour-grey-300;
    border-radius: 50%;
    margin-left: 7px;
  }
}
