.appHeader {
  align-items: center;
  background-color: $colour-p06;
  border-bottom: 1px solid $colour-s13;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: $zIndex-appHeader;

  @media only screen and (max-width: $breakpoint-desktop) {
    display: none;
  }

  &__pageName {
    color: $colour-s16;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-right: 17px;
  }

  &__leftContent {
    display: flex;
    align-items: center;


    button {
      border: none;
      border-radius: 0;
      color: $colour-grey-400;

      &:hover {
        background-color: transparent;
        color: $colour-grey-400;
      }

      .textButton__icon::before {
        font-size: 16px;
      }

      .textButton__text {
        font-weight: 600;
        padding: 0 8px;
      }
    }

    .appHeader__textButton--accent {
      border-radius: 4px;
      color: $colour-p06;

      &:hover {
        color: $colour-p06;
        background-color: $colour-grey-400;
      }
    }
  }

  &__orgSelector {
    min-width: 300px;
  }

  &__rightContent {
    display: flex;
  }
}

@media print {
  .appHeader {
    display: none;
  }
}
