.chatChannelSettings {
  background-color: $transparent-black;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;

  &__avatarUpload {
    grid-auto-columns: min-content;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: 1fr;
    gap: 0px 15px;
    align-items: center;
  }

  &__sid {
    color: $colour-neutral-400;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
  }

  &__content {
    color: $colour-grey-100;
    font-size: 14px;
    font-weight: 600;
  }

  .slidingPanel {
    height: 100% !important;
    z-index: 1999; // 1 less than change squad tooltip menu. Does not need to exceed then Intercom frame z-index

    &__indent {
      margin: 0 30px;
    }

    &__header {
      color: $colour-grey-200;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      padding: 12px 30px 6px;
      position: relative;
      text-transform: uppercase;
    }

    &__row {
      margin: 0 0 10px;
      padding-left: 0;
      padding-right: 0;

      &:first-child {
        margin-bottom: 0;
      }
    }

    .slidingPanelActions {
      bottom: 70px;
      height: 60px;
      justify-content: space-between;

      // No Hover: For touch screens ( excluding Samsung devices that return true for hover query )
      @media only screen and (hover: none) {
        bottom: $mobile-browser-footer-height;
      }

      // No Pointer: For touch screens
      @media only screen and (pointer: none) {
        bottom: $mobile-browser-footer-height;
      }

      &__back,
      &__apply {
        .textButton {
          height: 36px;
          line-height: 12px;
          min-width: fit-content;

          [class^='icon-'],
          [class*='icon-'] {
            &::before {
              font-size: 12px;
              font-weight: 900;
              line-height: 12px;
            }
          }
        }
      }
    }

    &__content {
      color: $colour-grey-100;
      font-size: 14px;
      font-weight: 600;

      .text_header {
        color: $colour-grey-200;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        padding: 12px 0 6px;
        position: relative;
      }
    }
  }

  &__menuButton {
    background: none;
    border: 0;
    color: $colour-grey-300;
    cursor: pointer;
    margin-right: 15px;
    padding-top: 5px;
    width: 22px;

    i {
      font-size: 22px;
    }

    &--disabled {
      cursor: default;
    }
  }
}
