.customDropdown {
  width: 100%;

  &--withFooter {
    .customDropdown__menu {
      padding-bottom: 0;
    }
  }

  button {
    &:after {
      border-bottom: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid;
      content: '';
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.customDropdown--disabled {
    .customDropdown__label {
      label {
        color: $colour-s18;
        opacity: 0.5;
      }
    }

    button {
      cursor: default;
    }
  }

  &.hasError {
    button {
      border-bottom: 2px $colour-s11 solid;
      border-left: 2px $colour-s11 solid;
      border-right: 2px $colour-s11 solid;
      border-top: 2px $colour-s11 solid;
      line-height: 44px;
      padding-left: 11px;
    }
  }

  // default bootstrap class for toggled dropdown
  &.show {
    button {
      border-bottom: 0;
      border-left: 2px $colour-p01 solid;
      border-right: 2px $colour-p01 solid;
      border-top: 2px $colour-p01 solid;
      line-height: 44px;
      padding-left: 11px;

      &:hover {
        border-bottom: 0;
        border-left: 2px $colour-p01 solid;
        border-right: 2px $colour-p01 solid;
        border-top: 2px $colour-p01 solid;
        line-height: 44px;
        padding-left: 11px;
      }
    }

    .customDropdown__caret {
      right: 11px;
      top: 49%;
    }
  }

  button {
    background: $colour-p06 !important;
    border: 1px solid $colour-s15;
    color: $colour-s18;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    width: 100%;

    &:active,
    &:focus {
      box-shadow: none;
    }

    .customDropdown__value {
      max-width: 95%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .customDropdown__label {
    align-items: center;
    color: $colour-s18;
    display: flex;
    margin-bottom: 10px;
    margin-top: 0;

    label {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
    }

    i {
      cursor: pointer;
      font-size: 18px;
      margin-left: 5px;
    }
  }

  .customDropdown__menu {
    border: 1px solid $colour-s15;
    border-bottom: 2px $colour-p01 solid;
    border-left: 2px $colour-p01 solid;
    border-right: 2px $colour-p01 solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    margin-top: -4px;
    max-height: 225px;
    min-width: auto;
    overflow: auto;
    padding-top: 5px;
    width: 100%;

    li {
      cursor: pointer;
      height: 33px;
      line-height: 33px;
      padding: 0 2px;

      &.customDropdown__inputFilter {
        height: auto;
        padding: 4px 8px;
      }

      &.customDropdown__optionSeparator {
        border-bottom: 1px dashed $colour-s14;
        height: 0;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      &.customDropdown__message {
        background: $colour-s13;
        margin: 5px 8px;
        padding-left: 12px;
        white-space: nowrap;
      }

      &.customDropdown__emptyMessage {
        color: $colour-s16;
        font-style: italic;
        line-height: 1.5;
        margin: 5px 8px;
      }

      .customDropdown__optionGroup {
        color: $colour-s18;
        cursor: default;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 33px;
        overflow: hidden;
        padding: 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .customDropdown__textwrap {
        border-radius: 4px;
        display: inline-block;
        line-height: 33px;
        overflow: hidden;
        padding: 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:hover {
          background: $colour-p02;
          color: $colour-p06;

          .customDropdown__description {
            color: $colour-s13;
          }
        }

        span {
          font-weight: 600;
        }

        .customDropdown__description {
          color: $colour-s16;
          font-weight: normal;
        }
      }

      &.customDropdown__item--selected {
        .customDropdown__textwrap {
          background: $colour-p05;

          &:hover {
            background: $colour-p02;
            color: $colour-p06;

            .customDropdown__description {
              color: $colour-s13;
            }
          }
        }
      }
    }
  }

  .customDropdown__caret {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__footer {
    background-color: $colour-p06;
    border-top: 1px solid $colour-p04;
    bottom: 0;
    height: 60px;
    margin-top: 5px;
    position: -webkit-sticky; // safari
    position: sticky;
    width: 100%;

    .customDropdown__clear {
      color: $colour-p01;
      font-weight: normal;
      line-height: 14px;
      padding: 10px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
