@import './components/GraphWidget/GraphLegendList/style';
@import './components/GraphWidget/LongitudinalGraphTable/style';
@import './components/GraphWidget/SummaryGraphTable/style';
@import './components/GraphWidget/SummaryBarGraphTable/style';
@import './components/GraphWidget/SummaryDonutGraphTable/style';
@import './components/GraphWidget/LongitudinalGraph/ChartPeriodSelector/style';
@import './components/GraphWidget/GraphDescription/style';

.analyticalStackGraphTooltip {
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;

  &__description {
    color: $colour-s16;
  }

  li {
    line-height: 22px;
  }
}

.AnalyticalGraphTooltip {
  &--htmlContainer {
    background-color: $colour-p06;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: block;
    padding: 8px;
  }

  &__stats {
    color: $colour-s18;
    font-size: 14px;
    list-style: none;
    margin: 5px 0 0;
  }

  &__statsValue {
    font-weight: 700;
    padding: 0 8px 0 4px;
  }

  &__statUnit {
    font-weight: normal;
  }

  &__title {
    color: $colour-s16;
    font-size: 14px;
    font-weight: 600;
  }

  &__circle {
    font-size: 16px;
  }

  &__value {
    color: $colour-s18;
    font-size: 14px;
    font-weight: 700;
  }

  &__metricName {
    color: $colour-s18;
    font-size: 14px;
  }

  &__legend {
    margin-top: 4px;
  }

  &__footer {
    border-top: 1px dashed $colour-s15;
    margin-top: 5px;
    padding: 5px 0 0;

    a {
      display: block;
    }
  }
}

.AnalyticalGraphLabel {
  font-size: 12px;
  font-weight: 400;

  &__value {
    color: $colour-s18;
  }

  &__name {
    color: $colour-s16;
  }
}

.valueVisualisation {
  height: 100%;

  &__valueContainer {
    align-items: center;
    display: flex;
    height: calc(100% - 35px);
    justify-content: center;
    text-align: center;
  }

  &__value {
    color: $colour-s18;
    display: inline-block;
    font-weight: bold;
  }

  &__valueWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  &__unit {
    color: $colour-s16;
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    margin-left: 5px;
  }

  &__noValue {
    color: $colour-s17;
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
  }

  &__link {
    &:hover {
      cursor: pointer;
    }
  }
}

.valueVisualisationTooltip {
  border: 1px solid $colour-p04;
  border-radius: 5px;
  padding: 15px;

  &__name {
    color: $colour-s16;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
  }

  &__legend {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__circle {
    background: $colour-p02;
    border-radius: 10px;
    display: block;
    height: 8px;
    margin: 5px 5px 0 0;
    width: 8px;
  }

  &__metricName {
    font-size: 14px;
  }

  &__value {
    flex: 1;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
  }

  &__footer {
    border-top: 1px dashed $colour-s15;
    margin-top: 5px;
    padding: 5px 0 0;
    text-align: left;

    a {
      display: block;
      font-size: 14px;
    }
  }
}
