.questionnaireManagerControls {
  h3 {
    font-size: 21px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  &__toggles {
    display: flex;
    flex-direction: column;
    float: right;
  }

  .toggleSwitch {
    align-self: flex-end;
    margin-bottom: 5px;
  }

  &__breadcrumb {
    margin-bottom: 13px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__label {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
