.bodyPartContainer {
  position: relative;

  span {
    color: $colour-p06;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
}
