.checkboxList {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
  }

  &__itemLabel {
    color: $colour-grey-300;
    font-size: 14px;
    margin-left: 8px;
  }

  &__nested {
    border: 1px solid $colour-neutral-400;
    border-left-width: 4px;
    border-right: 0;
    padding: 8px 0 12px 16px;
    margin-bottom: 10px;

    .checkboxList__item:last-child {
      margin-bottom: 0px;
    }
  }
}
