.riskAdvisor {
  background-color: $colour-p06;

  &__variableForm {
    padding: 20px;

    h5 {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__variableFormRow {
    margin-bottom: 20px;

    &--buttonContainer {
      button {
        clear: both;
        float: right;
      }
    }
  }

  &__accordion {
    border-top: 2px solid $colour-neutral-300;
    padding-top: 16px;
  }

  &__accordionContent {
    margin-top: 20px;
  }

  &__dataSourcesContainer {
    position: relative;
  }

  &__dataSourceEditBtn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__editDataSourceLabel {
    color: $colour-grey-100;
    display: block;
    font-size: 12px;
    font-weight: 600;
  }

  &__selectedDataSources {
    span {
      padding-right: 5px;

      &:after {
        content: ',';
      }

      &:last-child {
        padding: 0;

        &:after {
          display: none;
        }
      }
    }
  }

  &__dateRangeLabel {
    color: $colour-grey-100;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 0;
  }

  &__savedVariableLabel {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__savedVariableVal {
    &:after {
      content: ', ';
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}
