.sessionDateRange {
  &__label {
    color: $colour-s18;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;

    &--disabled {
      opacity: 0.5;
    }
  }

  &__eventTypeFields {
    clear: both;
    display: flex;
    margin-top: 15px;
    width: 100%;

    .daterangepicker {
      top: auto !important;
    }
  }

  &__rollingDatePicker {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 30px;
  }
}
