.toggleSwitch {
  display: inline-flex;
  flex-direction: row;

  &__switch {
    display: inline-block;
    height: 26px;
    margin-bottom: 0;
    position: relative;
    width: 47px;
  }

  &__label {
    align-self: center;
    color: $colour-s18;
    font-size: 14px;
    font-weight: 600;
    margin: 0 8px;
  }

  &__input {
    height: 0;
    opacity: 0;
    width: 0;

    &:checked + .toggleSwitch__slider {
      &:before {
        background-color: $colour-p01;
        transform: translateX(16px);
      }
    }
  }

  &__slider {
    background-color: $colour-p06;
    border: 1px solid $colour-p04;
    border-radius: 20px;
    bottom: 0;
    cursor: pointer;
    left: 2px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;

    &:before {
      background-color: $colour-p04;
      border-radius: 50%;
      bottom: 2px;
      content: '';
      height: 20px;
      left: 4px;
      position: absolute;
      transition: 0.4s;
      width: 20px;
    }
  }

  &--labelRight {
    flex-direction: row-reverse;
  }

  &--disabled {
    .toggleSwitch__slider {
      opacity: 0.5;

      &:hover {
        cursor: default;
      }
    }
  }

  &--kitmanDesignSystem {
    .toggleSwitch {
      &__label {
        color: $colour-grey-100;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
      }

      &__switch {
        width: 40px;
        height: 20px;
      }

      &__slider {
        $size: 16px;

        border-radius: $size;
        left: 1px;
        background: $colour-neutral-300;
        border: solid 1px $colour-neutral-300;

        &:before {
          background-color: white;
          width: $size;
          height: $size;
          bottom: 1px;
          left: 1px;
        }
      }

      &__input {
        &:checked + .toggleSwitch__slider {
          background-color: $colour-grey-200;
          border: solid 1px $colour-grey-200;

          &:before {
            background-color: $colour-p06;
            transform: translateX(19px);
          }
        }
      }
    }
  }
}
