.templateType--activities {
  color: $colour-grey-300;
  font-size: 9px;

  &__activityHolder {
    margin-bottom: 2px;
    display: flex;
    page-break-inside: avoid;
    align-items: stretch;
    border-top: 3px solid $colour-neutral-400;
    padding-top: 2px;
  }

  &__activityHolderInfo {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
  }

  &__activity {
    margin-bottom: 1px;
    border: 1px solid $colour-blue-50;
    padding: 8px;
  }

  &__activityTitle {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__activityMetaInfos {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    line-height: 16px;
  }

  &__activityMetaInfo {
    flex: 1;
  }

  &__activityMetaInfoTitle {
    font-weight: 600;
  }

  &__notes {
    margin-bottom: 1px;
    border: 1px solid $colour-blue-50;
    padding: 8px;
    line-height: 16px;
  }

  &__notesTitle {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__athletes {
    border: 1px solid $colour-blue-50;
    padding: 10px;
    flex: 1 1 auto;
  }

  &__athletesTitle {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__activityHolderDiagram {
    flex-basis: 40%;
    margin-left: 1px;
    border: 1px solid $colour-blue-50;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // min-height: 300px;
  }

  &__activityHolderDiagram img {
    max-width: 300px;
    margin: 5px;
  }

  .athletesTemplate__athlete {
    width: 25%;
  }
}

.templateType--activities_stacked {
  color: $colour-grey-300;
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  font-size: 9px;

  &__activityHolder {
    margin-bottom: 8px;
    flex: 50%;
    page-break-inside: avoid;
    border-top: 3px solid $colour-neutral-400;
    padding-top: 2px;
  }

  &__activity {
    margin-bottom: 1px;
    border: 1px solid $colour-blue-50;
    padding: 10px;
  }

  &__activityTitle {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__activityMetaInfos {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    line-height: 16px;
    page-break-inside: avoid;
  }

  &__activityMetaInfo {
    flex: 1;
  }

  &__activityMetaInfoTitle {
    font-weight: 600;
  }

  &__notes {
    margin-bottom: 1px;
    border: 1px solid $colour-blue-50;
    padding: 8px;
    line-height: 16px;
    page-break-inside: avoid;
  }

  &__notesTitle {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__athletes {
    margin-bottom: 1px;
    border: 1px solid $colour-blue-50;
    padding: 10px;
    page-break-inside: avoid;
  }

  &__athletesTitle {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__activityHolderDiagram {
    border: 1px solid $colour-blue-50;
    // min-height: 275px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    page-break-inside: avoid;
  }

  &__activityHolderDiagram img {
    max-width: 350px;
    margin: 5px;
  }

  .athletesTemplate__athlete {
    width: 25%;
  }
}
