.availabilityReportTable {
  &__cellContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    position: relative;
  }

  &__headerCell {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    max-width: 25px;
    min-width: 25px;

    span {
      text-align: center;
    }
  }

  &__month {
    font-size: 14px;
    font-weight: 600;
  }

  .navArrows__leftBtn {
    left: 165px;
  }

  .navArrows__rightBtn {
    right: 0;
  }
}
