.availabilityReportTable {
  &__row {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2px;
    min-height: 45px;
  }

  &__rowWrapper {
    &:nth-child(even) {
      .availabilityReportTable__row {
        background: $colour-s13;
      }
    }

    &:nth-child(odd) {
      .availabilityReportTable__row {
        background: $colour-s23;
      }
    }

    &--expanded {
      margin-bottom: 10px;
    }
  }

  &__availabilityBarsCell {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25px;
    min-width: 25px;

    span {
      display: block;
      height: 15px;
      width: 100%;
    }

    &--unavailable {
      span {
        background-color: $colour-s25;
      }
    }

    &--medicalAttention {
      span {
        background-color: $colour-s08;
      }
    }

    &--first {
      span {
        border-radius: 5px 0 0 5px;
      }
    }

    &--last {
      span {
        border-radius: 0 5px 5px 0;
      }
    }

    &--single {
      span {
        border-radius: 5px;
      }
    }
  }

  &__overviewTooltip {
    font-size: 14px;
    padding: 15px;
    width: 550px;

    h4 {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  &__overviewTableHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: stretch;
    margin-bottom: 5px;
  }

  &__overviewTableHeaderCell {
    &--date {
      min-width: 150px;
    }

    &--status {
      flex: 1;
    }
  }

  &__overviewTableRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 5px;
  }

  &__overviewCell {
    position: relative;

    &--date {
      min-width: 150px;
    }

    &--description {
      flex: 1;
      padding-left: 20px;
    }
  }

  &__overviewCellColour {
    border-radius: 3px;
    display: inline-block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
  }

  &__overviewTotalsRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__overviewTotalsCell {
    &:first-child {
      font-weight: 600;
      padding-right: 10px;
    }
  }

  &__bodyRowExpansion {
    .availabilityReportTable__row {
      &:nth-child(even) {
        background: $colour-s13;
      }

      &:nth-child(odd) {
        background: $colour-s23;
      }
    }

    .availabilityReportTable__availabilityBarsCell {
      span {
        height: 9px;
      }
    }
  }
}
