.athleteProfileAddNoteModal {
  padding-bottom: 90px;

  &__title {
    span {
      color: $colour-s16;
    }
  }

  &__row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    &--upload {
      flex-direction: column;
      margin-top: 20px;
      position: relative;
    }
  }

  &__input {
    flex: 1;

    &:first-child {
      margin-right: 10px;

      &.athleteProfileAddNoteModal__input--medicalType {
        margin-left: 0;
      }
    }

    &:last-child {
      margin-left: 10px;

      &.athleteProfileAddNoteModal__input--expDate {
        margin-left: 0;
      }
    }

    &--expDate {
      margin-top: 20px;
      max-width: 300px;
    }

    &--batch {
      margin-top: 10px;
    }

    &--renewalDate {
      margin-top: 20px;
    }
  }

  &__note {
    position: relative;
    width: 100%;
  }

  &__checkbox {
    margin-top: 10px;
  }

  &__visibility {
    flex: 1;
    margin: 15px 10px 0 0;
    max-width: 389px;
  }

  &__templates {
    flex: 1;
    margin: 15px 0 0 15px;
  }

  &__medicalTypeSelect {
    margin-top: 10px;
  }

  &__copyLastNote {
    color: $colour-p01;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__errorMsg {
    padding: 10px 12px;
    z-index: 9999;
  }

  &__closeErrorMsg {
    float: right;
    font-size: 14px;
    margin-left: 5px;
    padding-top: 2px;

    &:hover {
      cursor: pointer;
    }
  }
}
