.edit-dashboard {
  background-color: $colour-p06;
}

.dashboardEditor {
  &__container {
    height: 675px;
    margin-bottom: -30px;
    margin-left: 0;
    margin-right: 0;
  }

  &__nameContainer {
    border-bottom: 1px solid $colour-s14;
    margin-bottom: 20px;
    padding-bottom: 25px;
  }

  &__nameContainerInner {
    width: 425px;
  }

  &__alarmWarning {
    font-weight: 600;
    margin-top: 30px;
  }

  &__alarmWarningIcon {
    color: $colour-p04;
    display: block;
    float: left;
    font-size: 26px;
    margin: -3px 5px 0 0;
  }
}
