.athleteMedications {
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 0;
  }

  &__row {
    margin-bottom: 15px;
    overflow: hidden;
  }

  &__cell {
    float: left;
    padding-right: 20px;
    width: 15%;

    &:last-child {
      padding-right: 0;
    }
  }

  &__type {
    width: 40%;
  }

  &__emptyMessage {
    color: $colour-s16;
    display: block;
    text-align: center;

    &--left {
      text-align: left;
    }
  }

  &__label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__attachment {
    display: inline-block;
    height: 24px;
    margin-right: 20px;
    padding-left: 30px;
    position: relative;

    i {
      color: $colour-p04;
      display: block;
      font-size: 24px;
      left: 0;
      position: absolute;
      top: 0;
    }

    a {
      display: block;
      font-weight: 600;
    }
  }

  &__creationDate {
    font-weight: 600;
  }
}
