.questionnaireTemplates {
  &__templateListContainer {
    background: $colour-p06;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }

  &__header {
    h3 {
      display: inline-block;
      font-size: 16px;
      margin-top: 10px;
    }
  }

  &__headerBtn {
    float: right;
  }

  &__activateButton {
    background-color: transparent;
    border: 0;
    color: $colour-s18;
    font-size: 26px;
    margin-left: -1px;
    padding-left: 0;

    &--active {
      color: $colour-p02;
    }

    &:hover {
      cursor: pointer;
    }

    &--disabled {
      &:hover {
        cursor: default;
      }
    }
  }

  &__buttonsCell {
    text-align: right;
  }

  &__button {
    background: none;
    border: 0;
    color: $colour-p04;
    font-size: 25px;

    &:hover {
      cursor: pointer;
    }

    &--disabled {
      opacity: 0.5;

      &:hover {
        cursor: default;
      }
    }

    &--active {
      color: $colour-p01;
    }
  }

  &__buttonContainer {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 37px;
  }

  &__tooltipHotspot {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .reminderSidePanel {
    height: 100%;

    &__subtitle {
      font-size: 14px;
      font-weight: normal;
      margin-top: -17px;
      padding: 10px 30px 0;
    }

    &__athleteAppSection {
      padding: 30px;
    }

    &__sectionTitle {
      color: $colour-p03;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 18px;
    }

    &__toggleItem {
      align-items: center;
      background-color: $colour-s23;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }

    &__dropdown {
      margin-top: 15px;
      max-width: 300px;

      .dropdownWrapper {
        margin: 0;
      }
    }

    &__timePicker {
      display: flex;
      margin-top: 15px;

      .reminderSidePanel__timePickerInfo {
        align-self: flex-end;
        font-size: 12px;
        margin-bottom: 13px;
        margin-left: 10px;
      }
    }

    &__timeZonePicker {
      margin-top: 15px;

      .customDropdown {
        margin: 0;
      }
    }

    &__daySelector {
      margin-top: 15px;
    }

    &__footer {
      border-top: 1px solid $colour-s14;
      bottom: 0;
      display: flex;
      height: 96px;
      justify-content: flex-end;
      padding: 30px;
      position: absolute;
      width: 100%;

      .textButton {
        height: 36px;
        padding: 5px;
        width: fit-content;

        &:focus {
          background: $colour-p01;
          border-color: $colour-p01;
        }
      }
    }
  }

  &--kitmanDesignSystem {
    background: $colour-p06;
    border: 1px solid $colour-s13;
    margin: 16px;

    @media (max-width: $breakpoint-tablet) {
      margin-top: 85px;
    }

    .questionnaireTemplates__header {
      padding: 24px 24px 0;
      h3 {
        font-size: 24px;
        margin-top: 0px;
      }
    }

    .questionnaireTemplates__templateListContainer {
      padding: 0;
      margin-top: 40px;
    }

    .dataGrid__cell {
      height: 40px !important;
      width: auto !important;
      max-width: 1000px !important;
    }

    table tr > th:first-child,
    table tr > td:first-child {
      padding-left: 24px;
    }

    table tr > th:last-child,
    table tr > td:last-child {
      padding-right: 24px;
    }
  }

  &__checkmark {
    font-size: 22px;
    color: $colour-grey-50;

    &--active {
      color: $colour-green-100;
    }
  }

  .kitmanReactSelect__menu {
    z-index: 4 !important;
  }

  .filter {
    padding: 0 24px 30px 24px;
  }

  .dataGrid {
    overflow: auto !important;
  }
}
