.organisationWorkloadSettings {
  margin: auto;
  max-width: 866px;
  min-height: calc(100vh - 220px);
  padding-bottom: 50px;

  &__title {
    border-bottom: 1px dashed $colour-s14;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    padding: 5px 0;

    span {
      color: $colour-p01;
      cursor: pointer;
      font-size: 12px;
    }
  }

  &__info {
    border-bottom: 1px dashed $colour-s14;
    list-style: none;
    margin-bottom: 10px;
    padding: 0 0 10px;

    li {
      line-height: 1.5;
      padding-left: 10px;
      position: relative;

      &:before {
        background: $colour-p03;
        border-radius: 10px;
        content: '';
        display: inline-block;
        height: 3px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
      }
    }
  }

  &__formRow {
    margin-bottom: 10px;
  }

  &__rpeCollectionCheckbox {
    margin-top: 10px;
  }

  &__stickyFooter {
    background-color: $colour-p06;
    bottom: 0;
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    padding: 12px 40px;
    position: fixed;
    text-align: right;
    width: 100%;
  }

  &__widgetContentDivider {
    border-bottom: 1px dashed $colour-s14;
    margin: 20px -20px;
  }

  &__widgetSubSectionTitle {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__renamebutton {
    background: none;
    border: 0;
    color: $colour-p04;
    font-size: 25px;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }
  }
}
