.variableHeader {
  height: 100%;

  &__athleteTitle {
    align-items: flex-start;
    background: $colour-p06;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 10;
  }

  &__variablesContainer {
    height: 100%;
    padding-left: 250px;
    position: relative;
  }

  &__variable {
    align-items: center;
    border-left: 0;
    display: inline-block;
    float: left;
    font-size: 0.8em;
    height: 100%;
    line-height: 14px;
    overflow-wrap: break-word;
    position: relative;

    span {
      font-size: 12px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }

  &__variableInner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    overflow-wrap: break-word;
    text-align: center;
  }
}
