// Analytical Dashboard
@import './components/AddWidgetDropdown/style';
@import './components/GraphLinksModal/style';
@import './components/GraphWidget/style';
@import './components/HeaderWidgetModal/style';
@import './components/HeaderWidget/style';
@import './components/ProfileWidgetModal/style';
@import './components/ProfileWidget/style';
@import './components/NotesWidgetSettingsModal/style';
@import './components/NotesWidget/style';
@import './components/NotesWidget/components/ActionSummary/style';
@import './components/NotesWidget/components/EmptyState/style';
@import './components/NotesWidget/components/ExpandedNoteDetails/style';
@import './components/NotesWidget/components/Note/style';
@import './components/NotesWidget/components/WidgetMenu/style';
@import './components/TableWidgetModal/style';
@import './components/ActionsWidgetModal/style';
@import './components/ActionsWidget/style';
@import './components/NoteDetailModal/style';
@import './components/TableWidget/style';
@import './components/TableWidget/components/RowPanel/style';
@import './components/TableWidget/components/ColumnPanel/style';
@import './components/TableWidget/components/ColumnHeader/style';
@import './components/PivotDashboardButton/style';
@import './components/PivotSlidingPanel/style';
@import './components/PrintBuilder/legacy/style';

.gridLayoutModifier {
  &__widget {
    background-color: $colour-p06;
    border: 1px $colour-s14 solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
  }

  &__widgetHeader {
    background-color: $colour-s13;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 35px;
    line-height: 32px;
    padding-left: 15px;
    width: 100%;
  }

  &__widgetContent {
    bottom: 0;
    position: absolute;
    top: 35px;
    width: 100%;

    &--header {
      top: 0;
    }
  }

  &__placeholderImg {
    background-color: $colour-s14;
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;

    &--svg {
      background-color: transparent;
      max-height: calc(100% - 20px);
      max-width: calc(100% - 20px);
      min-width: 30%;
    }

    &--athleteProfile {
      margin-bottom: 7px;
      max-height: 100%;
    }

    &--header {
      max-height: 100%;
    }
  }

  &__reorderIcon {
    color: $colour-p04;
    font-size: 20px;
    vertical-align: middle;

    &--athleteProfile {
      margin-left: 10px;
      margin-top: 5px;
    }

    &--header {
      align-self: center;
      margin-left: 10px;
    }
  }

  &__graphName {
    color: $colour-p03;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    margin-left: 8px;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: calc(100% - 45px);

    &--header {
      margin-left: 50px;
      margin-top: 2px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }

  .react-grid-item {
    &.react-grid-placeholder {
      background-color: transparentize($colour-p01, 0.8);
      border: 2px $colour-p01 dashed;
      border-radius: 5px;
      opacity: 1;
    }
  }

  .react-draggable {
    cursor: grab;
    transition: box-shadow 0.3s ease-in-out;

    &.react-draggable-dragging {
      box-shadow: 2px 2px 5px 0 transparentize($colour-p03, 0.8);
      cursor: grabbing;
      opacity: 0.8;
    }
  }

  .react-resizable {
    .react-resizable-handle {
      background: transparent;
      height: 40px;
      padding: 0;
      width: 40px;

      &:before {
        @include kitman-font;

        color: $colour-s16;
        content: '\e947';
        font-size: 12px;
        left: 23px;
        position: relative;
        top: 19px;
      }

      &:after {
        display: none;
      }
    }
  }
}

.analyticalDashboard {
  width: 100%;

  .pageHeader {
    background-color: $colour-p06;
    border-bottom: 1px solid $colour-neutral-100;
    position: sticky;
    top: 0;
    z-index: 11;
  }

  &__welcomeMessage {
    color: $colour-p03;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 20px 16px;
  }

  &__footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0 20px;
  }

  &__gridContainer {
    margin: 0 20px;
    position: relative;
  }

  &__pageHeader {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $breakpoint-tablet) {
      flex-direction: column;

      .analyticalDashboard__dashboardActionsContainer {
        margin-top: 15px;
      }
    }

    .analyticalDashboard__dashboardTitleContainer {
      align-items: center;
      display: flex;

      .analyticalDashboard__title {
        color: $colour-grey-300;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin: 0;

        i {
          margin-left: 12px;
          font-size: 12px;
        }
      }

      .analyticalDashboard__renameButton {
        background: none;
        border: 0;
        color: $colour-p04;
        font-size: 25px;
        margin-left: 3px;

        &:hover {
          cursor: pointer;
        }
      }

      .analyticalDashboard__dashboardTitleLogo {
        margin-right: 16px;
        width: 46px;
      }

      .analyticalDashboard__dashboardTitleText {
        color: $colour-p03;
        font-size: 24px;
        font-weight: 600;
      }
    }

    .analyticalDashboard__dashboardActionsContainer {
      align-items: center;
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }

      .textButton {
        &[disabled] {
          background: $colour-s14;
          border-color: $colour-s14;
          color: $colour-s16;
        }
      }
    }
  }

  &__loader {
    margin-top: 60px;
  }

  &__widget {
    height: 100%;
    overflow: hidden;
  }

  &__newGraphLink {
    display: inline-block;
    margin-top: 30px;
  }

  &__hideDashboard {
    margin-top: 25px;
  }
}

@media print {
  .analyticalDashboard {
    .graphWidget__menuButton,
    .analyticalDashboard__dashboardActionsContainer,
    .pageHeader,
    .analyticalDashboard__footer {
      display: none;
    }

    .graphWidget {
      border: 0;
      border-bottom: 1px dashed $colour-s14;

      .graphDescription__separator {
        color: $colour-s16 !important;
      }

      .graphWidget__header,
      .graphWidget__graph {
        padding: 0;
      }

      .graphWidget__header {
        h3 {
          margin-top: 25px;
        }
      }

      .graphLegendList--toggleable {
        .graphLegendList__toggleButton {
          display: none;
        }

        .graphLegendList__list {
          display: flex;
          padding-bottom: 0;
          position: relative;
          top: 0;
        }
      }
    }
  }
}
