.tableWidgetModal {
  &__label {
    font-weight: 600;
  }

  &__preview {
    float: right;
    width: 300px;
  }

  &__previewTable {
    margin-top: 11px;

    tr {
      td {
        border: 1px solid #e9e9e9;
        color: $colour-p03;
        font-size: 12px;
        font-weight: 600;
        height: 44px;
        line-height: 13px;
        max-width: 90px;
        text-align: center;
        width: 90px;

        &:first-child {
          width: 100px;
        }

        &:last-child {
          border-right: 0;
          width: 18px;
        }
      }

      &:first-child {
        td {
          height: 60px;
        }
      }

      &:last-child {
        td {
          border-bottom: 0;
          height: 22px;
        }
      }
    }

    &--rowHeaderText,
    &--primaryHeaderText,
    &--secondaryHeaderText {
      display: block;
      line-height: 14px;
      margin: 0 10px;
      overflow: hidden;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--secondaryHeaderText {
      font-weight: 400;
      margin: 0 10px 5px;
    }
  }

  &__type {
    width: 330px;

    .inputRadio__button {
      margin-right: 10px !important;
    }
  }

  &__typeDescription {
    font-size: 12px;
    margin-left: 30px;
  }

  &__create {
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 572px;
    position: absolute;

    .textButton {
      height: 36px;
      padding: 7px 20px;
    }
  }
}
