.annotationModal {
  &__row {
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 0;

    &.fileUpload {
      margin-top: 20px;
    }

    &:first-child {
      margin-bottom: 0;
    }

    .textarea__optional {
      margin-top: 0;
    }
  }

  &__footer {
    align-items: center;
    border-top: 1px solid $colour-s14;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px -30px 0;
    padding: 15px 30px 0;
  }
}
