.summaryDonutGraphTable {
  display: flex;
  margin-top: 20px;
  width: 100%;

  &__link {
    &:hover {
      cursor: pointer;
    }
  }

  &__fixed {
    table {
      min-width: 310px;
    }

    td {
      white-space: nowrap;
    }
  }

  &__scrollable {
    flex-grow: 1;
    margin-left: -5px;
    overflow-x: scroll;

    table {
      th {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &--condensed {
    font-size: 12px;

    .summaryDonutGraphTable__fixed {
      table {
        min-width: auto;
      }
    }
  }
}
