.modalContent {
  min-height: 540px;

  .modalContent__label {
    color: $colour-s18;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .modalContent__disclaimer {
    bottom: 174px;
    color: $colour-s16;
    font-size: 12px;
    margin-bottom: 20px;
    margin-right: 30px;
    padding-left: 30px;
    position: absolute;

    .modalContent__disclaimerIcon {
      color: $colour-s16;
      font-size: 24px;
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .groupedDropdown,
  .customDropdown {
    margin-bottom: 22px;
  }

  &.modalContent--reorder {
    padding: 30px 15px 30px 30px;
  }

  &.modalContent--chooseNameModal {
    padding-bottom: 105px;

    .modalContent--chooseNameModal__title {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 30px;
    }
  }

  &.modalContent--alarmEditor {
    padding-bottom: 215px;

    .modalContent--alarmEditor__modalTitle {
      margin-bottom: 10px;
    }

    .modalContent--alarmEditor__statusName {
      font-weight: 600;

      span {
        color: $colour-s16;
        font-weight: 400;
      }
    }

    .modalContent--alarmEditor__alarms {
      margin-top: 40px;
    }

    .modalContent--alarmEditor__addBtn {
      float: left;
      margin-left: 0;
      margin-top: 14px;
    }

    .modalContent--alarmEditor__emptyMessage {
      color: $colour-s16;
      font-weight: 600;
      margin-top: 200px;
      text-align: center;
    }

    .modalContent--alarmEditor__buttonContainer {
      border-top: 1px dashed $colour-p04;
      bottom: 106px;
      left: 0;
      margin: 15px 30px 0;
      padding: 30px 0;
      position: absolute;
      width: calc(100% - 60px);

      .modalContent--alarmEditor__addBtn {
        margin: 0;
      }

      &--withAlarms {
        padding-top: 60px;
      }
    }

    .modalContent--alarmEditor__footer {
      align-items: center;
      border-top: 1px solid $colour-p04;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;

      button {
        margin-left: 0;
        min-width: 0;
      }
    }

    .modalContent--alarmEditor__footerBtnContainer {
      flex: 1;
      text-align: right;

      button {
        margin-left: 20px;
        min-width: 160px;
      }
    }

    .modalContent--alarmEditor__selectAllForMobile {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 20px;

      span {
        margin-left: 10px;
      }
    }
  }
}
