.organisationAppearanceSettings {
  margin: auto;
  max-width: 866px;

  &__title {
    border-bottom: 1px dashed $colour-s14;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    padding: 5px 0;
  }

  &__dropdown {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 600px) {
      flex-direction: row;
    }

    &:first-of-type {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 5px;
    }

    .dropdown {
      flex: 1 1 0;
      max-width: 420px;
    }
  }

  &__tooltipTriggerElement {
    font-size: 18px;
    margin-left: 5px;
  }
}
