.athleteStatusCellContent {
  height: 100%;

  button {
    background: none;
    border: 0;
    color: $colour-s17;
    font-size: 13px;
    height: 100%;
    padding: 0;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &--alarm_colour1 {
    background: $alarm-colour1;
  }

  &--alarm_colour2 {
    background: $alarm-colour2;
  }

  &--alarm_colour3 {
    background: $alarm-colour3;
  }

  &--alarm_colour4 {
    background: $alarm-colour4;
  }

  &--alarm_colour5 {
    background: $alarm-colour5;

    button {
      color: $colour-p06;
    }
  }

  &--alarm_colour6 {
    background: $alarm-colour6;
  }

  &--alarm_colour7 {
    background: $alarm-colour7;
  }

  &--alarm_colour8 {
    background: $alarm-colour8;

    button {
      color: $colour-p06;
    }
  }
}
