.navArrows {
  .navArrows__leftBtn {
    justify-content: flex-end;
    left: 237px;

    button {
      position: relative;
      right: 0;
    }
  }

  .navArrows__leftBtn,
  .navArrows__rightBtn {
    align-items: center;
    background: $colour-p06;
    border: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 150;

    button {
      background: $colour-p06;
      border: 1px solid $colour-s15;
      border-radius: 5px;
      color: $colour-p01;
      font-size: 22px;
      height: 35px;
      width: 35px;

      &:hover {
        cursor: pointer;
      }
    }

    &.isDisabled {
      button {
        // scss-lint:disable NestingDepth
        border-color: $colour-s14;
        color: $colour-s15;
        cursor: default;
      }
    }
  }

  .navArrows__rightBtn {
    justify-content: flex-start;
    right: 20px;
    width: 55px;
  }
}
