.emrOrders {
  display: flex;
  height: 100%;
  padding: 20px;
  width: 100%;

  &__container {
    background-color: $colour-p06;
    border-radius: 3px;
    flex: 1;
    padding-bottom: 20px;

    &--with-padding {
      max-width: 1300px;
      padding: 25px;
    }
  }

  &__linkColumn {
    color: $colour-blue-100 !important;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &__linkToReport {
    color: $colour-blue-100 !important;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &__fileIcon {
    color: $colour-blue-100;
    cursor: pointer;
    font-size: 20px;
  }

  .dataGrid {
    overflow: auto !important;

    .dataGrid__cell:first-child {
      padding-left: 24px;
    }
  }

  &__titleFilters {
    padding: 24px 24px 0;

    h2 {
      margin-bottom: 20px;
    }
  }

  &__searchInput {
    margin-right: 8px;
    max-width: 300px;
    position: relative;

    .km-form-label {
      display: none;
    }

    .km-input-control {
      background: $colour-neutral-200;
      border: 0;
      height: 32px;
      padding-right: 32px;
    }

    .icon-search {
      font-size: 24px;
      position: absolute;
      right: 6px;
      top: 5px;
    }
  }

  &__titleFiltersItems {
    align-items: center;
    display: flex;
    margin-bottom: 10px;

    .kitmanReactSelect__control {
      margin-right: 8px;
      min-width: 150px;
    }

    .kitmanReactSelect__menu {
      display: none;
    }
  }

  &__textBlock {
    margin-bottom: 20px;

    &__heading {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 3px;
    }

    &--athleteSelection {
      min-width: 150px;

      .emrOrders__textBlock__heading {
        margin-bottom: 5px;
      }
    }
  }

  &__inlineList {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__divider {
    margin-top: 5px;
    width: 100%;
  }

  &__link {
    align-items: center;
    color: $colour-blue-100;
    display: flex;
    font-weight: 600;
    margin-right: 50px;

    i {
      margin-right: 10px;
    }
  }

  &__reportHeader {
    display: flex;
    justify-content: space-between;
  }
}
