.mainNavBarMobile {
  display: none;

  @media (max-width: $breakpoint-desktop) {
    display: block;
  }

  &__wrapper {
    align-items: center;
    background: $colour-s18;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zIndex-mainNavBarMenu;
  }

  &__menuBtn {
    background: none;
    border: 0;
    margin: 0 0 0 20px;
    padding: 0;

    span {
      color: $colour-p06;
      font-size: 22px;
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 36px;

    span {
      color: $colour-p06;
      font-size: 29px;
    }
  }

  &__userMenu {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 20px;
  }

  &__menu {
    background: transparent;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    transition: all 0.2s ease;
    width: 100%;
    z-index: -1;

    @media only screen and (min-width: $breakpoint-tablet) {
      height: calc(100% - 60px);
    }

    &--open {
      background: transparentize($colour-s26, 0.5);
      z-index: $zIndex-mainNavBarMenu;

      @media only screen and (min-width: $breakpoint-tablet) {
        height: calc(100% - 60px);
      }
    }
  }

  &__menuInner {
    align-items: stretch;
    background: $colour-s18;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    justify-content: flex-start;
    left: 0;
    overflow: hidden;
    position: absolute;
    transform: translateY(100%);
    transition: transform 0.2s ease;
    width: 100%;

    @media only screen and (min-width: $breakpoint-tablet) {
      height: 100%;
      transform: translate(-100%, 0);
      width: 320px;
    }

    .mainNavBarMobile__menu--open & {
      transform: translate(0, 0);
    }
  }

  &__menuContent {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    position: absolute;
    right: 0;
    transition: transform 0.2s ease;
    width: 100%;

    &--primary {
      transform: translateX(-100%);

      &.mainNavBarMobile__menuContent--active {
        transform: translateX(0);
      }
    }
  }

  &__menuContentInner {
    overflow: auto;
  }

  &__contentBack {
    align-items: center;
    color: $colour-p06;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    height: 50px;
    justify-content: flex-start;
    padding: 0 30px;
    text-transform: uppercase;

    &:hover,
    &:active {
      background-color: $colour-s29;
    }

    span {
      padding-right: 10px;
    }
  }

  &__filler {
    display: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 320px);

    .mainNavBarMobile__menu--open & {
      @media only screen and (min-width: $breakpoint-tablet) {
        display: block;
      }
    }
  }

  &__closeBtn {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-end;

    @media only screen and (min-width: $breakpoint-tablet) {
      display: none;
    }

    button {
      background: none;
      border: 0;
      display: block;
      margin-right: 20px;
      margin-top: 15px;
      padding: 0;
    }

    span {
      color: $colour-p06;
      font-size: 29px;
    }
  }

  &__menuItem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;

    &--settings {
      &:before {
        border-top: 1px solid $colour-s17;
        content: '';
        left: 20px;
        position: absolute;
        top: 0;
        width: calc(100% - 40px);
      }
    }

    .mainNavBarMobile__menuLink {
      align-items: center;
      color: $colour-p06;
      display: flex;
      font-weight: 500;
      height: 50px;
      justify-content: flex-start;
      padding: 0 20px;
      position: relative;
      width: 100%;

      &:hover,
      &:active {
        background-color: $colour-s29;
      }

      .mainNavBarMobile__menuContent--secondary & {
        padding: 0 30px;
      }
    }

    &--active {
      background-color: $colour-s28;

      &:before {
        background-color: $colour-p01;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 5px;
      }

      .mainNavBarMobile__menuLink {
        color: $colour-p01;
        font-weight: bold;
      }

      .mainNavBarMobile__menuItemIcon {
        color: $colour-p01;
      }
    }
  }

  &__menuContent--secondary {
    transform: translateX(100%);

    .mainNavBarMobile__menuLink {
      font-weight: normal;
    }

    &.mainNavBarMobile__menuContent--active {
      transform: translateX(0);
    }

    .mainNavBarMobile__menuItem--active {
      background-color: transparent;

      &:before {
        display: none;
      }

      .mainNavBarMobile__menuLink {
        font-weight: bold;
      }
    }
  }

  &__chevron {
    color: $colour-p06;
    display: flex;
    flex: 1;
    font-size: 22px;
    justify-content: flex-end;
  }

  &__menuItemIcon {
    color: $colour-p06;
    font-size: 30px;
    margin-right: 20px;
  }

  &__bottomContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media print {
  .mainNavBarMobile {
    display: none;
  }
}

// // iP branding styles

.ip-mainNavBarMobile {
  display: none;

  @media (max-width: $breakpoint-desktop) {
    display: block;
  }

  &__wrapper {
    align-items: center;
    background: linear-gradient(
        130deg,
        $theme-primary-3-gradient 0%,
        $theme-primary-1-gradient calc(100% - 98px),
        $theme-primary-3-gradient calc(100% - 97px),
        $theme-primary-1-gradient 100%
      )
      100% 50% / 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zIndex-mainNavBarMenu;
  }

  &__menuBtn {
    background: none;
    border: 0;
    margin: 0 0 0 20px;
    padding: 0;

    span {
      color: $colour-p06;
      font-size: 22px;
    }
  }

  &__playerSelectorBtn {
    border: 0;
    background: none;
    color: $colour-p05;
  }

  .ip-org-logo-icon {
    width: 36px;
    height: 36px;
  }

  &__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60px;

    span {
      color: $colour-p06;
      font-size: 29px;
    }
  }

  &__userMenu {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 20px;
  }

  &__menu {
    background: transparent;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    transition: all 0.2s ease;
    width: 100%;
    z-index: -1;

    @media only screen and (min-width: $breakpoint-tablet) {
      height: calc(100% - 60px);
    }

    &--open {
      background: transparentize($colour-s26, 0.5);
      z-index: $zIndex-mainNavBarMenu;

      @media only screen and (min-width: $breakpoint-tablet) {
        height: calc(100% - 60px);
      }
    }
  }

  &__menuInner {
    align-items: stretch;
    background: linear-gradient(
        163deg,
        $theme-primary-3-gradient 0%,
        $theme-primary-1-gradient calc(100% - 248px),
        $theme-primary-3-gradient calc(100% - 247px),
        $theme-primary-1-gradient 100%
      )
      100% 50% / 100% 100%;
    background-repeat: no-repeat;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    justify-content: flex-start;
    left: 0;
    overflow: hidden;
    position: absolute;
    transform: translateY(100%);
    transition: transform 0.2s ease;
    width: 100%;

    @media only screen and (min-width: $breakpoint-tablet) {
      height: 100%;
      transform: translate(-100%, 0);
      width: 320px;
    }

    .ip-mainNavBarMobile__menu--open & {
      transform: translate(0, 0);
    }
  }

  &__menuContent {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    position: absolute;
    right: 0;
    transition: transform 0.2s ease;
    width: 100%;

    &--primary {
      transform: translateX(-100%);

      &.ip-mainNavBarMobile__menuContent--active {
        transform: translateX(0);
      }
    }
  }

  &__menuContentInner {
    overflow: auto;
  }

  &__contentBack {
    align-items: center;
    color: $colour-p06;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    height: 50px;
    justify-content: flex-start;
    padding: 0 30px;
    text-transform: capitalize;
    position: relative;

    &:hover {
      background-color: $theme-primary-1-gradient;
      &:before {
        background-color: $theme-secondary-color;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 5px;
      }
    }
    &:active {
      background-color: $theme-primary-color;
      &:before {
        background-color: $theme-secondary-color;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 5px;
      }
    }

    span {
      padding-right: 10px;
    }
  }

  &__filler {
    display: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 320px);

    .ip-mainNavBarMobile__menu--open & {
      @media only screen and (min-width: $breakpoint-tablet) {
        display: block;
      }
    }
  }

  &__closeBtn {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-end;

    @media only screen and (min-width: $breakpoint-tablet) {
      display: none;
    }

    button {
      background: none;
      border: 0;
      display: block;
      margin-right: 20px;
      margin-top: 15px;
      padding: 0;
    }

    span {
      color: $colour-p06;
      font-size: 29px;
    }
  }

  &__menuItem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;

    &--settings {
      &:before {
        display: none;
      }
    }

    .ip-mainNavBarMobile__menuLink {
      align-items: center;
      color: $colour-s14;
      display: flex;
      font-weight: 500;
      height: 50px;
      justify-content: flex-start;
      padding: 0 20px;
      position: relative;
      width: 100%;

      &:hover {
        background-color: $theme-primary-1-gradient;
        color: $colour-s14;
        &:before {
          background-color: $theme-secondary-color;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 5px;
        }
      }

      &--active {
        background-color: $theme-primary-color;
        color: $colour-s14;
        &:before {
          background-color: $theme-secondary-color;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 5px;
        }
      }

      .ip-mainNavBarMobile__menuContent--secondary & {
        padding: 0 30px;
      }
    }

    &--active {
      background-color: $theme-primary-color;

      &:before {
        background-color: $theme-secondary-color;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 5px;
      }

      .ip-mainNavBarMobile__menuLink {
        color: $colour-s14;
        font-weight: bold;
      }

      .ip-mainNavBarMobile__menuItemIcon {
        color: $colour-s14;
      }
    }
  }

  &__menuContent--secondary {
    transform: translateX(100%);

    .ip-mainNavBarMobile__menuLink {
      font-weight: normal;
    }

    &.ip-mainNavBarMobile__menuContent--active {
      transform: translateX(0);
    }

    .ip-mainNavBarMobile__menuItem--active {
      .ip-mainNavBarMobile__menuLink {
        font-weight: bold;
        &:active {
          background-color: $theme-primary-color;
          &:before {
            background-color: $theme-secondary-color;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 5px;
          }
        }
      }
    }
  }

  &__chevron {
    color: $colour-p06;
    display: flex;
    flex: 1;
    font-size: 22px;
    justify-content: flex-end;
  }

  &__menuItemIcon {
    color: $colour-p06;
    font-size: 20px;
    margin-right: 20px;
  }

  .icon-healthcare,
  .icon-medical {
    font-size: 18px;
  }

  &__bottomContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media print {
  .ip-mainNavBarMobile {
    display: none;
  }
}
