.athletesTemplate {
  display: flex;
  flex-flow: row wrap;
  line-height: 16px;

  &__athlete {
    display: flex;
    align-items: center;
    width: 20%;
    font-size: 9px;
    max-width: 20%;
  }

  &__iconArrowUp {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid $colour-grey-300;
    margin-left: 7px;
  }

  &__iconCircle {
    width: 5px;
    height: 5px;
    background-color: $colour-grey-300;
    border-radius: 50%;
    margin-left: 7px;
  }
}

.templateType--activities {
  .athletesTemplate__athlete {
    max-width: 33%;
    width: 33%;
  }
}

.templateType--activities_stacked {
  .athletesTemplate__athlete {
    max-width: 33%;
    width: 33%;
  }
}
