.graphWidget {
  background-color: $colour-p06;
  border: 1px solid $colour-s13;
  border-radius: 5px;
  height: 100%;
  padding-bottom: 0;
  width: 100%;

  &__header {
    align-items: center;
    background-color: $colour-s13;
    border-radius: 5px 5px 0 0;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    z-index: 10;

    h3 {
      color: $colour-p03;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      overflow: hidden;
      width: 100%;

      span {
        display: inline-block;
        max-width: calc(100% - 10px);
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }
    }
  }

  &__tooltips {
    display: flex;
  }

  &__sortButton {
    background: none;
    border: 0;
    color: $colour-p04;
    cursor: pointer;
    padding-right: 25px;
    padding-top: 5px;
    transform: rotate(90deg);
    width: 22px;

    i {
      font-size: 18px;
    }
  }

  &__menuButton {
    background: none;
    border: 0;
    color: $colour-p04;
    cursor: pointer;
    padding-top: 5px;
    width: 22px;

    i {
      font-size: 18px;
    }

    &--disabled {
      cursor: default;
    }
  }

  &__graph {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 16px 20px 0;
    height: calc(100% - 50px);
  }

  .graphWidgetGraphImage {
    background-color: $colour-s14;
    margin: auto;
    max-width: 1000px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &--error,
  &--loading {
    .graphWidget__header {
      h3 {
        background-color: $colour-s14;
        border-radius: 3px;
        height: 14px;
        width: 120px;
      }
    }
  }

  &--condensed {
    .graphWidget__graph {
      padding: 10px 10px 0;
    }
  }

  &--loading {
    @keyframes placeHolderShimmer {
      0% {
        background-position: -468px 0;
      }

      100% {
        background-position: 468px 0;
      }
    }

    .graphWidgetGraphImage {
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: cubic-bezier(0.44, 0.3, 0.9, 0.37);
      background: #f6f7f8;
      background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
      background-size: 1400px 104px;
      margin-top: 20px;
      max-height: calc(100% - 20px);
      position: relative;
    }
  }

  &__noPermissionText {
    align-items: center;
    background-color: $colour-p06;
    bottom: 0;
    color: $colour-s17;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 5;
  }

  .graphWidget__graphErrorMessage {
    align-items: center;
    background-color: transparentize($colour-p06, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 5;
  }
}

.tooltipMenu--graphSort {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

  &__title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px 5px 10px 16px;
  }

  .tooltipMenu__item {
    font-weight: normal;
  }

  .tooltipMenu__item--active {
    font-weight: 600;
  }

  .tooltipMenu__listItemSubMenuItem--active {
    font-weight: 600;
  }

  .tooltipMenu__icon {
    left: 9px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
  }
}
