.termsOfUsePolicy {
  &__footer {
    border-top: 1px solid $colour-s14;
    margin-top: 15px;
    padding: 15px 20px;
    text-align: right;

    button {
      margin-left: 10px;
    }
  }

  &__subHeading {
    font-weight: 600;
    line-height: 24px;
  }

  &__empty {
    height: 150px;
    line-height: 80px;
    text-align: center;
    width: 100%;
  }

  &__edit {
    float: right;
  }

  &__loading {
    text-align: center;
  }
}

.termsOfUsePolicyModal {
  &__content {
    margin-bottom: 16px;
    margin-top: -16px;
  }

  &__actions {
    float: right;

    button {
      margin-left: 10px;
    }
  }
}
