// General Layout Styles

body {
  background: $colour-background;
  color: $colour-s18;
}

.appHeaderStyling {
  position: sticky;
  top: 0;
  z-index: $zIndex-appHeader;
}

.main {
  padding-left: 60px;

  @media only screen and (max-width: $breakpoint-desktop) {
    padding-left: 0;
    padding-top: 60px;
  }

  &--mainMenuOpen {
    @media only screen and (min-width: $breakpoint-desktop) {
      padding-left: 220px;
    }
  }

  &__inner {
    margin: 0 auto;
    max-width: none;
    padding: 0;
    width: 100%;
  }
}

.km-center {
  text-align: center;
}

.printContent {
  display: none;
}

.km-page {
  border-radius: 0 0 4px 4px;
  margin: 0 auto;
  min-height: 500px;
  position: relative;
  width: 100%;

  .km-page-content {
    background: $colour-p06;
    margin-bottom: 20px;
    min-height: 500px;
    padding: 0 0 30px;

    &--lightGrey {
      background: $colour-s23;
    }

    &--fixedOverflow {
      overflow: hidden;
    }

    // Fix for overflow/scroll issue when content cannot be cut (eg dropdown)
    &--overflowAllowed {
      clear: both;
      display: inline-block;
      width: 100%;
    }

    &--chat {
      clear: both;
      display: inline-block;
      height: calc(100vh - 50px);
      margin-bottom: -10px;
      margin-top: 0;
      min-height: auto;
      overflow: hidden;
      padding: 0;
      width: 100%;

      @media only screen and (max-width: $breakpoint-desktop) {
        height: calc(100vh - 60px);
      }
    }

    &--questionnaire {
      margin: 30px 0;
    }
  }

  &--calendar {
    background: $colour-p06;
  }

  &--chat {
    min-height: auto; // A min height value would affect scrolling on mobile where onscreen keyboards eat up height
  }

  // NOTE: These space form elements in the settings areas
  .nav-tabs + .alert,
  form input[name='authenticity_token'] + h4 {
    margin-top: 30px;
  }

  .nav-tabs {
    .nav-link {
      &.active--grey {
        background: $colour-s23;
        border-bottom-color: $colour-s23;
      }
    }
  }
}

.km-content-block {
  margin-bottom: 70px;
  margin-top: 30px;
}

.km-content-block--last {
  margin-bottom: 0;
}

.km-page-header {
  margin: 20px 20px 30px;
  min-height: 40px;
  padding: 0;

  &.big {
    height: 60px;

    & .header_actions {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.km-page-header--dark {
  background-color: $colour-s13;
  margin: 0;
  padding: 10px 20px;
}

.km-page-header__title {
  float: left;
  max-width: 50%;
  min-width: 350px;
}

.km-page-header__content {
  float: right;
  max-width: 50%;
  min-width: 250px;
}

@media print {
  a {
    &[href] {
      &:after {
        content: none !important;
      }
    }
  }
}

// Utility Classes
.km {
  &-no-margin-top {
    margin-top: 0;
  }

  &-no-margin-right {
    margin-right: 0;
  }

  &-no-margin-bottom {
    margin-bottom: 0;
  }

  &-no-margin-left {
    margin-left: 0;
  }

  &-no-padding-right {
    padding-right: 0;
  }

  &-no-padding-left {
    padding-left: 0;
  }

  &-padding-top {
    padding-top: 15px;
  }

  &-padding-bottom {
    padding-bottom: 15px;
  }

  &-form-line-height {
    line-height: 42px;
  }
}

@media (max-width: $breakpoint-tablet) {
  .main {
    padding-left: 0;
    padding-top: 0;

    &__inner {
      margin: 60px auto 0;
    }
  }
}
