.km-vertical-align {
  top: 50%;
  transform: translateY(-50%);
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hover-state {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin km-common-button {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  font-weight: normal !important;
  min-width: 120px;
  text-decoration: none;

  [class^='icon-'],
  [class*='icon-'] {
    &::before {
      float: left;
      font-size: 22px;
      line-height: 19px;
    }
  }

  &.km-btn-small {
    font-size: 14px;
    padding: 7px 15px;

    &.km-btn-small__icon {
      i {
        font-size: 17px;
        top: 2px;
      }

      span {
        margin-left: 6px;
        position: relative;
        top: -1px;
      }
    }
  }

  &.km-btn-medium {
    padding: 5px 20px;
  }
}

@mixin shimmer-bg {
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(
    to right,
    $colour-s13 10%,
    $colour-s14 18%,
    $colour-s13 33%
  );
  background-size: 800px 104px;
  position: relative;

  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }
}
