// variables for the platform-wide AppHeader
$zIndex-appHeader: 2147482000;

// variables for the NavBars
$zIndex-mainNavBarMenu: 2147483006;
$zIndex-secondaryNavBarMenu: 2147483005;
$zIndex-intercomZPlus3: 2147483006;
