.downloadOptions {
  display: flex;

  &__leftCol {
    flex-basis: 65%;
    background-color: $colour-blue-100-10-percent;
    padding: 30px;

    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $colour-grey-100;
      border: 3px solid white;
      border-radius: 20px;
    }

    &__previewPanel {
      font-size: 12px;
      min-height: 700px;
      max-height: 700px;
      overflow-y: scroll;
      max-width: 590px;
      background-color: white;
    }

    &__zoomer {
      zoom: 73%;
    }
  }

  &__rightCol {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #5f7089;
    font-size: 12px;
    font-weight: 600;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__row {
    margin-bottom: 20px;
  }
  &__label {
    margin-bottom: 10px;
  }
  &__buttons {
    margin-top: auto;
    text-align: right;
  }
  &__buttons button {
    margin-left: 10px;
  }
}
