.athleteAvailabilityReport {
  padding: 0 20px 20px;
  background: $colour-p06;

  .pageHeader {
    margin: 0 -20px;
    padding: 20px;
  }

  &__emptyText {
    margin-top: 50px;
    text-align: center;
  }
}

.availabilityReportTableHeader {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  &__headerContent {
    flex: 1;
  }

  &__dateRangePicker {
    min-width: 250px;
    position: relative;
  }

  h3 {
    font-size: 18px;
  }

  &__legendOpener {
    color: $colour-p01;
    cursor: pointer;
    font-size: 12px;
    position: relative;
  }

  &__legendContent {
    overflow: hidden;
    transition: all 100ms ease-in;

    &--open {
      padding-top: 5px;
    }
  }

  &__legendItem {
    font-size: 12px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
  }

  &__legendItemColor {
    border-radius: 3px;
    display: inline-block;
    height: 6px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;

    &--absence {
      background: $colour-s21;
    }
  }
}

.availabilityReportTable {
  flex: 1;
  max-width: calc(100% - 60px);
  position: relative;

  &--withGamesAndSessions {
    max-width: calc(100% - 320px);
  }

  &__container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .navArrows {
    &.availabilityReportTable__navArrows {
      .navArrows__leftBtn {
        left: 175px;

        button {
          padding: 0;
          width: 25px;
        }
      }

      .navArrows__rightBtn {
        right: 0;
        width: 25px;

        button {
          padding: 0;
          width: 25px;
        }
      }
    }
  }

  &__header {
    align-items: center;
    background: $colour-p06;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 200px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &__headerInner {
    overflow: hidden;
    width: 100%;
  }

  &__headerContent {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__body {
    overflow-x: scroll;
    padding-left: 200px;
    padding-top: 90px;
    width: 100%;
  }

  &--fixedHeader {
    @media (min-width: $breakpoint-desktop) {
      .availabilityReportTable__header {
        background: $colour-p06;
        box-shadow: 0 4px 4px -4px $transparent-black;
        left: 0;
        padding-left: 280px;
        position: fixed;
        top: 0;
        width: calc(100% - 80px);
        z-index: 1080;
      }

      .availabilityReportTable__headerInner {
        margin: 0;
        overflow: visible;
        position: relative;

        @media (max-width: $breakpoint-tablet) {
          transform: translateX(0);
          width: 100%;
        }
      }

      .availabilityReportTable__navArrows {
        &.navArrows {
          .navArrows__leftBtn {
            left: -25px;
          }
        }
      }
    }
  }
}
