.graphLegendList {
  display: flex;
  flex-wrap: wrap;

  &__legend {
    border-right: 1px solid $colour-s14;
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;

    &:last-child {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  &__list {
    display: flex;
  }

  &__toggleButton {
    display: none;
  }

  &--toggleable {
    position: relative;

    .graphLegendList__toggleButton {
      color: $colour-p03;
      cursor: pointer;
      display: block;
      font-size: 12px;
      font-weight: 600;
      width: 100%;
    }

    &.graphLegendList--open {
      .graphLegendList__list {
        background: transparentize($colour-p06, 0.1);
        display: flex;
        padding-bottom: 10px;
        position: absolute;
        top: 20px;
        z-index: 99;
      }

      .graphLegendList__toggleButton {
        &:before {
          border-bottom: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $colour-p01;
          content: '';
          display: inline-block;
          margin-right: 7px;
          vertical-align: 2px;
        }
      }
    }

    &.graphLegendList--close {
      .graphLegendList__list {
        display: none;
      }

      .graphLegendList__toggleButton {
        &:before {
          border-bottom: 5px solid transparent;
          border-left: 5px solid $colour-p01;
          border-right: 0;
          border-top: 5px solid transparent;
          content: '';
          display: inline-block;
          margin-right: 7px;
          vertical-align: 0;
        }
      }
    }
  }
}
